.title{
    text-align: center;
}

.secLogs{
    border: solid;
    height: 100px;
}

.secResources{
    border: solid;
}

.btnResource{
    float: right;
}

.secCats{
    border:solid;
}

.secBuildings{
    border:solid;
}

.btnBuildings{
    float: right;
}

.secTraining{
    border: solid;
}